// Basic guide colors

$hot-pink: #FF69B4
$intensive-orange: #FF4500
$yellow: #FFFF00
$blue: #0000FF
$bright-blue: #0096FF
$hell: #F8F8FF
$almond: #EADDCA
$gruen: #7CFC00
$emerald-green: #50C878
$baby-blue: #96D8FF
$dark-brown: #5C4033
$light-gray: #D3D3D3
$indigo: #7B68EE
$white: #FFFFFF
$lilac: #CF9FFF
$orange: #F3971B

$color-lilac: $lilac
$color-orange: $orange
$color-bluewhite: $hell
$color-blue: $bright-blue

$color-black: #000000
$color-grey: #e8e8eF
$color-white: #FFFFFF

$color-primary: $color-blue

// Backgrounds
$color-bg-grey: $color-grey
$color-bg-pale-grey: white
$color-bg-blue: $color-grey
$pattern-bg: url(../images/JH-Pattern.svg)
$blend-bg-normal: normal
$blend-bg-light: overlay
$blend-bg-dark: soft-light

$body-color: $color-black
//$body-padding: 1.6rem
$body-padding: 5vw

$font-weight-bold: 700
$font-weight-semi: 600
$font-weight-regular: 400

.bold
  font-weight: 600


// Breakpoints
//$break-small: 900px
$break-tiny: 360px
$break-small: 560px
$break-sm: 740px
$break-medium: 980px
$break-ml: 1200px
$break-large: 1900px


// legacy

// Basic guide colors
$color-deepred: #e52420
$color-softred: #e6414a
$color-deeporange: #ea680c
$color-softorange: #f3971b
$color-deepgreen: #4cad37
$color-softgreen: #00b48d
$color-deepblue: #00498c
$color-softblue: #00a6de
$color-deeppurple: #4c2582
$color-softpurple: #51509d
$color-pink: #e95197
$color-deepgrey: #52575b
$color-softgrey: #e7eaed


$backend-colors: (softblue: $color-softblue, softgreen: $color-softgreen, softorange: $color-softorange, softpurple: $color-softpurple, softred: $color-softred, softyellow: #ffe50c, deepblue: $color-deepblue, deepgreen: $color-deepgreen, deeporange: $color-deeporange, deeppurple: $color-deeppurple, deepred: $color-deepred, deepyellow: #ffd003, frkrcoolblue: #2969b2, pink: $color-pink, black: $color-black, deepgrey: $color-deepgrey, softgrey: $color-softgrey, white: $color-white)
