<section class="c-page-section c-page-2col c-support col-break-small ai-c">
  <div class="c-page-2col col-m fg">
    {{ readFile "/static/images/frkr/frkr-teaser-image.svg" | safeHTML  }}
  </div>
  <div class="col-m ml-10 fs">
    <h2>Unterstütze unsere Arbeit</h2>
    <div>
      <p>Werde Mitglied im Jugend hackt-Freundes und unterstütze junge Menschen dabei, mit Code die Welt zu verbessern. Der Jugend hackt Freundeskreis ist deine Möglichkeit, die Arbeit unseres Programms langfristig zu sichern. Als Fördermitglied wirst du Teil von Jugend hackt: Du erfährst Inside-Stories und bekommst spezielle Dankeschöns. Auch für engagierte Unternehmen ist etwas dabei!</p>
      <p><a href="#" class="support-link--black">ein link {{ readFile "/static/images/arrow-external.svg" | safeHTML  }}</a></p>
    </div>
  </div>
</section>
x
