<header class="l-header">
  <nav class="c-nav c-topnav l-inner">
    <input type="checkbox" id="menu-toggle"
           class="c-nav-toggle a11y-visuallyhidden"
           tabindex=0>
    <label for="menu-toggle" class="c-nav-label no-text"
           title="Menü öffnen"
           aria-label="Menü öffnen">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <p class="c-nav-logo">
      <a href="/" class="no-text" style="background-image: url(/images/JH_Logo_RGB.svg)">Jugend hackt</a></p>
    <ul class="c-list-pointless c-nav-items">
      <li><a href="/events/">Events</a></li>
      <li><a href="/labs/">Labs</a></li>
      <li><a href="/aufreisen/">Auf Reisen</a></li>
      <li><a href="/mitmachen/">Mitmachen</a></li>
      <li><a href="/projekte/">Projekte</a></li>
      <li><a href="/faq/">FAQ</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
    {{ partial "search.html" }}
  </nav>
</header>
