{{ define "main" }}

<header class="c-page-home-header pb-10">
  <h1>Mit <span class="js-scramle">Code</span> die<br> Welt verbessern</h1>
  <div class="c-page-content">{{ .Content }}</div>
</header>

<section class="c-page-section white">
  <div class="c-page-2col jc-sb">
    <div class="col-s">
      <div class="float-box float-box--softblue">
        <div class="c-flag softblue mini points-bottom float-box-head">Hallo Hier steht was</div>
        <img src="//placekitten.com/236/157" alt="">
        <h2 class="float-box-title">Komm zum Event in Ulm</h2>
        <p>Das Event in Ulm findet vom XX.XX-XX.XX statt. Die Anmeldung ist bis zum 15.11. geöffnet. </p>
        <a href="#" class="button button--simple button--softblue">Jetzt anmelden</a>
      </div>

    </div>
    <div class="col-l fg c-page-copy ml-10">
      <h2>Die Nächsten Termine</h2>

      <div class="c-toc c-toc--horizontal">
        <ul class="c-toc-nav">
          <li><a href="#events" class="hover-line-trigger"><span class="hover-line">Events</span></a></li>
          <li><a href="#labs"  class="hover-line-trigger"><span class="hover-line">Labs</span></a></li>
        </ul>
        <div class="c-toc-content c-events-list">
          <section id="events">
            {{ range after 1 (seq 4)}}
            <div class="event-teaser-list-item">
              <div class="d-f ai-s">
                <img src="//placekitten.com/180/120" alt="" width="90" class="event-teaser-list-img">
                <div class=" ">
                  <h3 class="mb-0 mt-0">Hamburg 12.12.2020</h3>
                  <div class="events-list-actions active">
                    <a
                      href="#"
                       title="Mehr Infos zu Jugend hackt in">Mehr Infos</a>
                    <a href="#"
                       title="">Anmelden</a>
                  </div>
                </div>

              </div>
            </div>
            {{ end }}
          </section>
          <section id="labs">
            {{ range after 1 (seq 4)}}
            <div class="event-teaser-list-item">
              <div class="d-f ai-s">
                <img src="//placekitten.com/290/357" alt="" class="event-teaser-list-img">
                <div class="event-teaser-list-meta fg">
                  <p class="c-flag mini orange c-flag--events points-bottom mb-1">Lab Ulm</p>
                  <h3 class="mb-0 mt-0">Offenes Coden, Tüfteln und Weltverbessern</h3>
                  <p class="mt-1 fw-b">Sa. 07.12   –   13:00 - 17:00</p>
                </div>

              </div>
            </div>
            {{ end }}
          </section>
        </div>

      </div>
    </div>
</section>


<section class="c-page-section c-blog-list is-grid">
  <h2 class="c-flag mini softblue points-bottom upper mb-3">Aus dem Blog</h2>
  <ul>

    {{ range after 1 (seq 4)}}
    <li>
      <article class="c-compact-teaser">
        <a href="#">
          <div class="teaser-image"><picture><img src="https://placekitten.com/320/200" alt=""></picture></div>
          <h2 class="teaser-title">POst POst</h2>
          <div class="teaser-summary">foo bar</div>
          <div class="teaser-date">28. July 2006</div>
        </a>
      </article>
    </li>
    {{ end }}

  </ul>
  <div class="ta-c">
    <a class="button">Mehr</a>
  </div>
</section>
{{ end }}
