{{ define "bodyclass"}}
single-project
{{ end }}

{{ define "main" }}

<section class="">
  <header class="c-page-offcenter-header">
    <h1 class="c-page-title">{{.Title}}</h1>
    <div class="c-page-excerpt">{{ .Content }}</div>
  </header>

  <div class="c-page-section jc-sb c-page-2col c-project">
    <div class="col-l fg needs-js">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ZmD1_1EuhQ8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <noscript>Kein JavaScript? <a href="#">Sie dir das Video hier an!</a></noscript>
    </div>
    <div class="col-s c-project-profile">
      <dl>
        <dt>von</dt>
        <dd><p>People</p></dd>
        <dt>Ort</dt>
        <dd>Rostock</dd>
        <dt>Jahr</dt>
        <dd>2019</dd>
        <dt>Thema</dt>
        <dd>Freizeit, Gesundheit & Sport</dd>
        <dt>Technik</dt>
        <dd>Making, Elektronik, Datenvisualisierung</dd>
        <dt>Links</dt>
        <dd>
          <a href="#">Github {{ readFile "/static/images/arrow-external-white.svg" | safeHTML  }}</a>
          <a href="#">Media.CCC {{ readFile "/static/images/arrow-external-white.svg" | safeHTML  }}</a></dd>
      </dl>
    </div>
  </div>
</section>

<section class="c-catnav c-catnav--slider p-r">
  <h2 class="c-catnav-title--rot">Weiter geht's</h2>
  <nav>
    <ul>
      <li class="c-catnav-slide">
        <a href="#" class="c-page-2col ai-c">
          <img src="//placekitten.com/300/200" alt="" width="400" height="200">
          <div class="">
            <p class="c-catnav-meta">Rostock 2019</p>
            <h3><span>Unterwegs mit</span></h3>
            <p>Lorem ipsum dolor sit amet ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
      <li class="c-catnav-slide">
        <a href="#" class="c-page-2col ai-c">
          <img src="//placekitten.com/300/200" alt="" width="400" height="200">
          <div class="">
            <p class="c-catnav-meta">Rostock 2019</p>
            <h3><span>Unterwegs mit</span></h3>
            <p>Lorem ipsum dolor sit amet ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
      <li class="c-catnav-slide">
        <a href="#" class="c-page-2col ai-c">
          <img src="//placekitten.com/300/200" alt="" width="400" height="200">
          <div class="">
            <p>Rostock 2019</p>
            <h3><span>Unterwegs mit</span></h3>
            <p>Lorem ipsum dolor sit amet ipsum dolor sit amet.</p>
          </div>
        </a>
      </li>
    </ul>
    <!-- <div class="c-catnav-nav p-a">
         <button type="button">back</button>
         <button type="button">next</button>
         </div> -->
  </nav>
</section>


<section class="c-page-section">
  <h2>Das Projekt bei anderen Events</h2>


  <div class="c-page-section jc-sb c-page-2col c-project">
    <div class="col-l fg needs-js">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ZmD1_1EuhQ8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <noscript>Kein JavaScript? <a href="#">Sie dir das Video hier an!</a></noscript>
    </div>
    <div class="col-s c-project-profile">
      <dl>
        <dt>Ort</dt>
        <dd>Rostock</dd>
        <dt>Jahr</dt>
        <dd>2019</dd>
        <dt>Thema</dt>
        <dd>Freizeit, Gesundheit & Sport</dd>
        <dt>Technik</dt>
        <dd>Making, Elektronik, Datenvisualisierung</dd>
        <dt>Links</dt>
        <dd>
          <a href="#">Github {{ readFile "/static/images/arrow-external-white.svg" | safeHTML  }}</a>
          <a href="#">Media.CCC {{ readFile "/static/images/arrow-external-white.svg" | safeHTML  }}</a></dd>
      </dl>
    </div>
  </div>
</section>


{{ end }}
