.accordion
  position: relative

  h3
    cursor: pointer

  &__content 
    overflow: hidden
    transition: .2s max-height
    will-change: max-height

  &.is-hidden &__content 
    position: absolute
    opacity: 0
    visibility: hidden
