.c-breakbox
  padding: 4.375rem 5vw
  text-align: center

  @media (min-width: $break-sm)
    padding: 4.375rem 8vw
  @media (min-width: $break-medium)
    padding: 4.375rem 25vw

  .c-page-standard &
    padding-left: 5.375rem
    padding-right: 5.375rem
    margin: 4.5rem -5vw

    @media (min-width: $break-medium)
      margin: 4.5rem -5.375rem

  h3
    margin-bottom: 0.625rem

.c-breakbox-head
  font-size: 1.1rem
  font-weight: $font-weight-bold

  @media (min-width: $break-medium)
    font-size: 1.4375rem

.c-breakbox--pink
  background-color: $color-pink
  color: $color-white
  g
    fill: $color-white
  a
    +copy-link(transparent)

.c-breakbox--bg
  background: $color-bg-pale-grey url(../images/fkr-teaser-transparent.svg) 50% 50% / contain no-repeat

.c-breakbox--grey
  background: $color-bg-pale-grey

.c-breakbox-list
  margin: 2.4rem 0 2rem
  li
    display: inline-block
    margin: 0 0.84375rem
  svg
    height: 0.9375rem
    width: auto
