.button
  display: inline-block
  padding: 0.6em 1em 0.5em
  text-transform: uppercase
  color: $color-white !important
  font-weight: $font-weight-bold
  text-decoration: none
  border: none !important
  cursor: pointer
  line-height: 2
  background: $color-orange
  &:hover, &:active
    background: $color-orange

a.button--simple
  color: $color-white
  border-bottom: 0
  font-size: 0.875rem
  font-weight: $font-weight-bold
