.button
  display: inline-block
  padding: 0.6em 1em 0.5em
  text-transform: uppercase
  color: $color-white
  font-weight: $font-weight-bold
  text-decoration: none
  border: none
  cursor: pointer
  line-height: 2

a.button--simple
  color: $color-white
  border-bottom: 0
  font-size: 0.875rem
  font-weight: $font-weight-bold

a.button--red
  background: $color-softred
  &:hover, &:active
    background: $color-deepred

a.button--orange
  background: $color-softorange
  &:hover, &:active
    background: $color-deeporange

a.button--blue
  background: $color-softblue
  &:hover, &:active
    background: $color-deepblue

a.button--softblue
  background: $color-softblue
  &:hover, &:active
    background: $color-deepblue

a.button--deepblue
  background: $color-deepblue
  &:hover, &:active
    background: $color-deepblue

a.button--softgreen
  background: $color-softgreen
  &:hover, &:active
    background: $color-deepgreen

a.button--deeppurple
  background: $color-deeppurple
  &:hover, &:active
    background: $color-deeppurple
