.c-catnav
  $catnav-space: 1.5rem

  position: relative
  margin-top: 2rem
  margin-bottom: 2.5rem
  margin-left: -$body-padding
  margin-right: -$body-padding
  background-color: #002343
  color: $color-black
  body:not(.js) & ul
    +scroll-x-hide-scrollbar
    display: flex
    align-items: flex-end

  &.c-catnav--light
    background-color: $color-blue
    .c-catnav-item
      border-right: 1px solid rgba($color-black, 0.4)

  .c-catnav-title
    position: absolute
    top: $catnav-space
    left: $catnav-space
    +uppercase-title

  .c-catnav-item
    flex: 0 0 16rem
    border-right: 1px solid $color-blue
    height: 18.75rem
    a
      display: block
      padding: 1rem 0.5rem 2rem $catnav-space
      display: flex
      flex-flow: column
      height: 100%
      justify-content: flex-end
      color: $color-black
      text-decoration: none
    h3
      margin-top: 0
      margin-bottom: 2rem
      font-size: 2rem
      line-height: 1.1
      word-wrap: anywhere
    p
      font-weight: $font-weight-semi
      font-size: 0.85rem

  .c-catnav-title--rot
    +uppercase-title
    position: absolute
    color: $color-blue
    left: 0
    transform: rotate(-90deg) translateX(-50%)
    @media (min-width: $break-medium)
      left: 1.8rem


  &.c-catnav--slider
    padding: 2rem 0 2rem 4rem
    @media (min-width: $break-medium)
      padding: 5rem 0 5rem 7rem

  .c-catnav-slide
    flex: 0 0 50vw
    a
      color: $color-black
      text-decoration: none
    img
      padding-right: 2rem
    h3
      font-size: 2rem
      margin: .3em 0
      line-height: 1.1

  .c-catnav-meta
    color: $color-blue
    +uppercase-title
