.c-nav
  display: flex
  align-items: center
  @media (min-width: $break-medium)
    margin-top: -1rem
  @media (max-width: $break-medium)
    align-items: flex-start

.c-nav-items
  display: flex
  justify-content: center
  //overflow: auto
  //-webkit-overflow-scrolling: touch
  white-space: nowrap
  flex-wrap: wrap
  align-content: center
  @media (max-width: $break-medium)
    transition: opacity 125ms ease-out
    opacity: 0
  li:not(.c-nav-logo)
    margin-left: 0.3rem
    @media (max-width: $break-medium)
      text-align: right
      display: none
    a
      transition: background 100ms ease
      font-size: 1rem
      font-weight: $font-weight-bold
      color: $body-color
      text-decoration: none
      font-family: 'Geist Mono', monospace
      padding: 0.3em 0.6em 0.2em;
      &:hover,
      &:active,
      &[aria-current="page"]
        background: var(--event-single-color);
        //border-bottom: 3px solid var(--event-single-color)
        //@media (min-width: $break-large)
          //border-width: 4px

      @media (max-width: $break-medium)
        display: block
        font-size: 2.65rem
        transition: transform 120ms ease-in-out
        &:hover,
        &:active,
        &:focus,
        &[aria-current="page"]
          border: none
          transform: translateX(-4%)

.c-nav-logo
  flex-grow: 1
  align-self: flex-start
  svg
    display: block
    width: 100%
  a
    width: 11em
    display: block

  @media (min-width: $break-medium)
    margin-top: 1rem
  @media (min-width: $break-small)
    a
      width: 15rem


@media (max-width: $break-medium)
  .c-nav-toggle:checked ~ .c-nav-items
    position: absolute
    top: 0
    left: 0
    z-index: 19
    padding: 60px $body-padding $body-padding
    width: 100vw
    min-height: 100vh
    flex-flow: column nowrap
    align-items: flex-end
    opacity: 1
    background-color: $color-lilac

    li
      display: block
    a
      color: $color-black
      border-color: $color-white
      font-family: 'Geist Mono', monospace

  .c-nav-logo
    position: absolute
    z-index: 22

@media (max-width: 840px)
  .c-nav-toggle:checked ~ .c-nav-items
    background-position: -16em 85%,top left

@media (max-width: 720px)
  .c-nav-toggle:checked ~ .c-nav-items
    background-position: -24em 85%,top left

@media (max-width: 560px)
  .c-nav-toggle:checked ~ .c-nav-items
    background-position: -31em 85%,top left
