{{ define "main" }}

<div class="c-page-alpaca-header">
  <div class="c-page-alpaca-featured addon addon--wrestler addon--large addon--left addon--bottom">
    <img src="//placekitten.com/486/486" alt="" class="clip-alpaka">
    <!-- <img src="//placekitten.com/150/190" alt="" class="addon bottom left"> -->
  </div>
  <div class="c-page-alpaca-title">
    <h1 class="c-page-title">{{.Title}}</h1>
    <div class="c-page-excerpt">
      <p>Jugend hackt ist ein Programm für junge Menschen, die mit ihren technischen Fähigkeiten die Welt verbessern wollen. Unterstützt von ehrenamtlichen Mentor*innen entwickeln unsere Teilnehmer*innen digitale Werkzeuge, Prototypen und Konzepte für eine bessere Zukunft. Unser Angebot umfasst Hackathon-Events in vielen Städten, regionale Labs, eine Online Community und internationale Austauschprogramme.</p></div>
  </div>

  <div class="c-page-header-illustration right-top">
    <img src="//placekitten.com/200/150" alt="">
  </div>
</div>

<section class="c-page-section white pt-5 pb-2">
  <div class="c-page-2col">
    <div class="col-s">
      <h2>Was uns auszeichnet</h2>
    </div>
    <div class="col-m c-page-copy">
      {{.Content}}
    </div>
  </div>
  <div class="c-page-2col pt-5">
    <div class="col-s">
      <h2>Handbuch & Evaluationen</h2>
    </div>
    <div class="col-l">
      <ul class="c-list-flagitems">
        <li class="c-flagitem c-flag points-bottom">
          <h3 class="c-flagitem-title">Kurzpräsentation</h3>
          <p><a href="#">Download [PDF]</a></p>
        </li>
        <li class="c-flagitem c-flag points-bottom">
          <h3 class="c-flagitem-title">Wissenschaftliche Evaluation 2016</h3>
          <p><a href="#">Download [PDF]</a></p>
        </li>
        <li  class="c-flagitem c-flag points-bottom">
          <h3 class="c-flagitem-title">Handbuch Jugendhackathons</h3>
          <p><a href="#">Onlineversion</a></p>
        </li>
        <li class="c-flagitem c-flag points-bottom">
          <h3 class="c-flagitem-title">Evaluation Labs 2019</h3>
          <p><a href="#">Download [PDF]</a></p>
        </li>
      </ul>
    </div>
  </div>
</section>


<section class="">
  <div class="c-page-video needs-js">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ZmD1_1EuhQ8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <noscript>Kein JavaScript? <a href="#">Sie dir das Video hier an!</a></noscript>
  </div>

  <div class="c-page-video-bottom">
    <h2 class="c-page-video-banner"><img src="/images/unterwegsmit.svg" alt="Unterwegs mit Jugend hackt"></h2>
    <div class="c-page-video-meta">
      <p>Abraham ist ein Jugend hackt-Teilnehmer mit Migrationshintergrund – oder wie er selbst viel lieber sagt: Integrationshintergrund. Der 19-jährige Syrer, der vor drei Jahren nach Deutschland kam, hat im Juni 2018 das erste Mal bei Jugend hackt in Schwerin teilgenommen – und dann im Oktober gleich noch mal in Berlin. Wir haben ihn mit der Kamera begleitet. In unserem Video der Reihe „Unterwegs mit...“ erzählt er, warum es sich für ihn gelohnt hat, dabei zu sein.</p>
    </div>
  </div>
</section>

<section class="c-page-section pt-10 pb-2">
  <div class="c-page-2col">
    <h2 class="col-s">Preise und Auszeichnungen</h2>
  </div>
  <div class="white c-page-section pb-2">
    <ul class="c-list-displayitems js-slider" data-slider-preset="price">
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis</p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title"><a href="#">1 Preis</a></p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis sdof sdoifus odifusodifu </p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis</p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis</p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis</p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis</p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis</p>
      </li>
      <li class="c-displayitem">
        <img src="https://placekitten.com/200/106" alt="">
        <p class="c-displayitem-title">1 Preis</p>
      </li>
    </ul>
  </div>
</section>

<section class="c-page-section pt-1">
  <h2 class="c-flag mini softblue points-bottom upper">Aus dem Blog</h2>
  <div class="c-page-2col col-break-small jc-sb pt-1">
    <article class="col-l c-page-blog fg fs">
      <div class="p-r addon addon--alpaka addon--bottom addon--left">
        <img src="https://placekitten.com/720/420" alt="alpaka">
      </div>
    <div class="c-page-2col ai-b">
      <h3 class="col-s">Lorkem IPsum dolor sit amet</h3>
      <div class="col-m">
        <p>Lorem ipsum dolor sit amet</p>
      </div>
    </div>
  </article>

  <article class="col-s c-page-blog fg">
    <div class="p-r addon addon--octopus addon--top addon--right">
      <img src="https://placekitten.com/300/200" alt="alpaka">
    </div>
    <div class="">
    <h3>Lorkem IPsum dolor sit amet</h3>
    <div>
      <p>Lorem ipsum dolor sit a</p>
    </div>
  </article>
</section>

{{ partial "freundeskreis.html" }}

<section class="c-page-section white">
  <div class="c-page-2col">
    <h2 class="col-s">Partner*innen & Unterstützer*innen</h2>
  </div>

  <div class="c-toc ai-s">
    <ul class="c-toc-nav fs">
      <li><a href="#netzwerk">Netzwerk</a></li>
      <li><a href="#foerderer">Förderer</a></li>
    </ul>

    <div class="c-toc-content fg">
      <section id="netzwerk">
        <ul class="c-grid-displayitems">
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Netz</p>
          </li>
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Netz</p>
          </li>
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Netz</p>
          </li>
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Netz</p>
          </li>
        </ul>
      </section>
      <section id="foerderer">
        <ul class="c-grid-displayitems">
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Foerder</p>
          </li>
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Foerder</p>
          </li>
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Foerder</p>
          </li>
          <li class="c-displayitem">
            <img src="https://placekitten.com/200/106" alt="">
            <p class="c-displayitem-text">Foerder</p>
          </li>
        </ul>
      </section>
</section>
{{ end }}
