<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "sass/main.sass" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{$style.RelPermalink}}">

    {{ $script := resources.Get "js/isotope.min.js" }}
    <script src="{{$script.RelPermalink}}" defer></script>

    {{ $script := resources.Get "js/tiny-slider.min.js" }}
    <script src="{{$script.RelPermalink}}" defer></script>

    {{ $script := resources.Get "js/main.js" | resources.Minify }}
    <script src="{{$script.RelPermalink}}"></script>


    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>{{ block "title" . }}
      <!-- Blocks may include default content. -->
      {{ .Site.Title }}
      {{ end }}</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
  </head>
  <body class='{{block "bodyclass" .}}{{ end }}'>
    {{ partial "header.html" }}
    <!-- Code that all your templates share, like a header -->

    <main class="l-main">
    {{ block "main" . }}
    <!-- The part of the page that begins to differ between templates -->
      {{ end }}
    </main>
    {{ partial "footer.html"}}

    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>
