{{ define "bodyclass"}}
page-template-exchanges-overview
{{ end }}

{{ define "main" }}

<div class="c-page-alpaca-header">
  <div class="c-page-alpaca-featured addon addon--catdog addon--large addon--right addon--bottom">
    <img src="//placekitten.com/486/486" alt="" class="clip-alpaka">
    <!-- <img src="//placekitten.com/150/190" alt="" class="addon bottom left"> -->
  </div>
  <div class="c-page-alpaca-title">
    <h1 class="c-page-title">{{.Title}}</h1>
    <div class="c-page-excerpt">
      <p>Jugend hackt ist ein Programm für junge Menschen, die mit ihren technischen Fähigkeiten die Welt verbessern wollen. Unterstützt von ehrenamtlichen Mentor*innen entwickeln unsere Teilnehmer*innen digitale Werkzeuge, Prototypen und Konzepte für eine bessere Zukunft. Unser Angebot umfasst Hackathon-Events in vielen Städten, regionale Labs, eine Online Community und internationale Austauschprogramme.</p></div>
  </div>

  <div class="c-page-header-illustration right-top">
    <img src="//placekitten.com/200/150" alt="">
  </div>
</div>

{{ end }}
