{{ define "main" }}

<div class="c-page-alpaca-header">
  <div class="c-page-alpaca-featured addon addon--invader addon--large addon--right addon--bottom">
    <img src="//placekitten.com/486/486" alt="" class="clip-alpaka">
     <img src="//placekitten.com/150/190" alt="" class="addon addon--bottom left addon--glasses">
  </div>
  <div class="c-page-alpaca-title">
    <h1 class="c-page-title">{{.Title}}</h1>
    <div class="c-page-excerpt">
      <p>{{.Content}}</p></div>
  </div>

  <div class="c-page-header-illustration right-top">
    <img src="//placekitten.com/200/150" alt="">
  </div>
</div>

{{ end }}