// override wp styles with double selectors
.alignright.alignright
  position: relative
  float: right
  padding: 0em
  margin: 1.2em 1em 4em 3em
  @media (max-width: $break-small)
    margin: 2em auto 4em
    width: 100%
    img
      width: 100%
      height: auto
  @media (min-width: $break-medium)
    margin-right: -2em
  @media (min-width: $break-large)
    margin-right: -8em

.image-right--float
  @media (min-width: ($break-ml + 40px))
    position: absolute
    right: 0

.image-overflow
  position: relative
  img
    width: 100%
    height: auto
  @media (min-width: $break-medium)
    margin-left: -2em
    margin-right: -2em
    img
      width: 105%
  @media (min-width: $break-large)
    margin-left: -6em
    margin-right: -6em
    img
      width: 110%
    &.addon--bottom:after
      transform: scale(1.5) translate(3em, -1em)

  &.wp-block-image
    max-width: none

// override wp styles with double selectors
.alignleft.alignleft
  position: relative
  float: left
  padding: 0em
  margin: 1.2em 3em 4em 0
  @media (max-width: $break-small)
    margin: 2em auto 4em
    width: 100%
    img
      width: 100%
      height: auto
  @media (min-width: $break-medium)
    margin-left: -2em
  @media (min-width: $break-large)
    margin-left: -8em


.clip-alpaka
  display: block
  -webkit-clip-path: polygon(0% 9%, 0% 81%, 9% 81%, 9% 90%, 18% 90%, 18% 99%, 81% 99%, 81% 90%, 90% 90%, 90% 81%, 99% 81%, 99% 9%, 90% 9%, 90% 0%, 72% 0%, 72% 9%, 63% 9%, 63% 18%, 36% 18%, 36% 9%, 27% 9%, 27% 0%, 9% 0%, 9% 9%, 9% 9%)
  clip-path: polygon(0% 9%, 0% 81%, 9% 81%, 9% 90%, 18% 90%, 18% 99%, 81% 99%, 81% 90%, 90% 90%, 90% 81%, 99% 81%, 99% 9%, 90% 9%, 90% 0%, 72% 0%, 72% 9%, 63% 9%, 63% 18%, 36% 18%, 36% 9%, 27% 9%, 27% 0%, 9% 0%, 9% 9%, 9% 9%)
