@font-face{
  font-family: 'Geist';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face{
  font-family: 'Geist Mono';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/GeistMono-Regular.woff2') format('woff2');
}

@font-face{
  font-family: 'Geist Mono';
  font-display: swap;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/GeistMono-Bold.woff2') format('woff2');
}
